starlette>=0.13.8
itsdangerous
uvicorn
webargs
webargs-starlette
marshmallow
asynctest
websockets
msgpack
bcrypt>=3.1.7
python-socketio==4.6.1
aiosmtplib>=1.1.4
Jinja2
aiocache[redis]
aioauth-client
proxycheck>=0.0.3
discord.py>=1.5.1
sqlalchemy==1.3.20
starlette-prometheus